# Ignore everything ...
*

# ... except these files ...
!.gitignore
!makefile
!.clang-format

# ... these file types ...
!*.md
!*.cpp
!*.h
!*.ico
!*.png
!*.json

# ... and subdirectories.
!src/
!res/
!.vscode/